.formContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #324b4b;
  width: 20vw;
  height: 45vh;
  padding: 3rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #324b4b;
  color: gray;
  width: 20vw;
  height: 45vh;
  padding: 3rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.searchBreed {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  overflow-y: scroll;
}

.formContent {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: space-evenly;
}

.formHeader {
  min-width: 30vw;
}

.inputField {
  margin: 0.5rem 0;
  padding: 0.25rem 0.1rem;
  border-radius: 6px;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
