.content {
  display: flex;
  height: 95vh;
  width: 50vw;
  overflow-y: scroll;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.homeSide {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.rightSide {
  display: flex;
  flex-direction: column;
}
