.content {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 50vw;
  overflow-y: scroll;
  margin-right: -2vw;
}

.content::-webkit-scrollbar {
  display: none;
  margin: 0;
}

.verLine {
  height: 95vh;
  border-left: 1px solid white;
  width: 0px;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.homeSide {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

.rightSide {
  display: flex;
  flex-direction: column;
}
