.container {
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 5vh;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  align-items: center;
  background: #5ac8ca;
  color: #fff7d6;
}

.mainContent {
  display: flex;
  flex-direction: row;
  min-width: 20vw;
  justify-content: space-evenly;
}

.tag {
  text-decoration: none;
  color: #324b4b;
  background: #5ac8ca;
  padding: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.tag:hover {
  transform: translateY(10px);
  color: black;
}
